<!DOCTYPE html>
<html lang="en">
<head>
    <title>Activity Store</title>
    <style>
        body{
            background-image: url("img/background.jpg");
        
        }
    </style>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="lessons.js"></script>
</head>
<body>
    
        <div id="app">

            <!-- PRODUCTS PAGE -->
            <div v-if="shop">
                <div class="row mt-1">
                    <div class="col-10">
                        <h1 class="text-center">{{ sitename }}</h1>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success" v-on:click="showCheckout" v-if="cartItemCount > 0">{{cartItemCount}} Checkout</button>
                        <button class="btn btn-secondary disabled" disabled v-else>{{cartItemCount}} Checkout</button>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-2 pl-5">
                            <h4>Sort by:</h4>
                            <fieldset>
                                <label>
                                    <input v-model="sort" type="radio" name="Sort" value="price" v-on:click="sortedLessons('price', ord)"> Price
                                </label><br>
                                <label>
                                    <input v-model="sort" type="radio" name="Sort" value="subj"> Subject
                                </label><br>
                                <label>
                                    <input v-model="sort" type="radio" name="Sort" value="loc"> Location
                                </label><br>
                                <label>
                                    <input v-model="sort" type="radio" name="Sort" value="avail"> Availability
                                </label><br>
                            </fieldset>
    
</body>
</html>